{% extends "layouts/base.html" %} {% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}


<!--SCAN TYPES-->



<div class="row">
    <form method="post" action="" class="mt-4" enctype="multipart/form-data">

        {{ form.hidden_tag() }}
        <div class="col-12 col-xl-12 mt-5">
            <div class="card card-body border-0 shadow mb-4">

                <h2 class="h5 mb-4">Scan Configuration</h2>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>Target Name</label> {{ form.TargetName(placeholder="Target Name", class="form-control") }}

                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label>Scan Name</label> {{ form.ScanName(placeholder="Scan Name", class="form-control") }}

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label>Github Token</label> {{ form.GithubToken(placeholder="Github Token", class="form-control") }}

                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label>Shodan API Key</label> {{ form.ShodanKey(placeholder="Shodan Key", class="form-control") }}
                        </div>
                    </div>
                </div>

            </div>

            <div class="card card-body border-0 shadow mb-4">


                <!--PASSIVE SCAN-->
                <!--

                <div class="accordion" id="accordionPricing">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" name="Passive_Scan" value="Passive_Scan">
                            Passive Scan
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionPricing">
                            <div class="accordion-body">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" name="Passive_Domain" checked disabled>
                                    <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Domain Module </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" name="Passive_Subdomain" checked disabled>
                                    <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Subdomain Module: Amass (passif) , Subfinder</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" name="Passive_URL" checked disabled>
                                    <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">URL Listing Module</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Passive_Directory" checked disabled>
                                    <label class="form-check-label" for="flexSwitchCheckDisabled">Directory Listing Module </label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Passive_Shodan" checked disabled>
                                    <label class="form-check-label" for="flexSwitchCheckDisabled">Service Listing Module: Shodan</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Passive_Google" checked disabled>
                                    <label class="form-check-label" for="flexSwitchCheckDisabled">Google Dorking Module</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Passive_Github" checked disabled>
                                    <label class="form-check-label" for="flexSwitchCheckDisabled">Github Dorking Module</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Passive_JS" checked disabled>
                                    <label class="form-check-label" for="flexSwitchCheckDisabled">JS Parsing Module</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Passive_APK" checked disabled>
                                    <label class="form-check-label" for="flexSwitchCheckDisabled">APK Findings Module</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Passive_Nuclei" disabled>
                                    <label class="form-check-label" for="flexSwitchCheckDisabled">Nuclei Exposures Module </label>
                                </div>
                            </div>
                        </div>

                    </div>



                    Active SCAN


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" name="Active_Scan" value="Active_Scan">
                            Active Scan
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionPricing">
                        <div class="accordion-body">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" name="Active_Domain" checked disabled>
                                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Domain Module </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" name="Active_Subdomain" checked disabled>
                                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Subdomain: Amass(active), Subfinder,Shuffledns</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" name="Active_URL" checked disabled>
                                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">URL Listing Module</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Active_Directory" checked disabled>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Directory Listing Module </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Active_Shodan" checked disabled>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Service Listing Module: Shodan</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Active_Google" checked disabled>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Google Dorking Module</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Active_Github" checked disabled>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Github Dorking Module</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Active_JS" checked disabled>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">JS Parsing Module</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Active_APK" checked disabled>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">APK Findings Module</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Active_Nuclei" checked disabled>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Nuclei Exposures Module </label>
                            </div>
                        </div>
                    </div>
                </div>
                -->

                <!--Custom SCAN-->


                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo" collapsed>
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" name="Active_Scan" value="Active_Scan" collapsed>
Edit Scan     </button>
                    </h2>

                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionPricing">
                        <div class="accordion-body">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" name="Domain_Module" checked>
                                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Domain Module </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" name="Subdomain_Module" checked>
                                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Subdomain: Amass(Active), Subfinder,Shuffledns</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" name="URL_Module" checked>
                                <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">URL Listing Module</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Directory_Module" checked>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Directory Listing Module </label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Shodan_Module" checked>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Service Listing Module: Shodan</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Google_Module" checked>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Google Dorking Module</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Github_Module" checked>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Github Dorking Module</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="JS_Module" checked>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">JS Parsing Module</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="APK_Module" checked>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">APK Findings Module</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" name="Nuclei_Module" checked>
                                <label class="form-check-label" for="flexSwitchCheckDisabled">Nuclei Exposures Module </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('input[type="checkbox"]').click(function() {
                        var inputValue = $(this).attr("value");
                        $("." + inputValue).toggle();
                    });
                });
            </script>

        </div>

</div>




<!--Upload Domain LIST-->
<form method="POST" action="" enctype="multipart/form-data">
    <div class="card card-body border-0 shadow mb-4">
        <div class="mb-3">
            <legend class="h5">Upload Domain list </legend>
            <label for="formFile" class="form-label"></label>
            <input class="form-control" type="file" id="formFile" name="input">
        </div>
    </div>
</form>
<!--CHOOSE GITHUB DORK FILE-->

<div class="card card-body border-0 shadow mb-4">
    <fieldset>

        <legend class="h5">Choose github dork file </legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="github" id="exampleRadios0" value="all_google_dork ">
            <label class="form-check-label" for="exampleRadios0">
                        all_google.json
                    </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="github" id="exampleRadios1" value="advisories_and_vulnerabilities  " checked>
            <label class="form-check-label" for="exampleRadios1">
                        advisories_and_vulnerabilities
                    </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="github" id="exampleRadios2" value="error_messages ">
            <label class="form-check-label" for="exampleRadios2">
                        error_messages 
                    </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="github" id="exampleRadios3" value="files_containing_usernames ">
            <label class="form-check-label" for="exampleRadios3">
                            files_containing_usernames
                        </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="github" id="exampleRadios4" value="pages_containing_login_portals">
            <label class="form-check-label" for="exampleRadios4">
                            pages_containing_login_portals
                        </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="github" id="exampleRadios5" value="various_online_devices ">
            <label class="form-check-label" for="exampleRadios5">
                        various_online_devices
                    </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="github" id="exampleRadios6" value="web_server_detection ">
            <label class="form-check-label" for="exampleRadios6">
                        web_server_detection
                    </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="github" id="exampleRadios7" value="files_containing_juicy_info ">
            <label class="form-check-label" for="exampleRadios7">
                                files_containing_juicy_info 
                            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="github" id="exampleRadios8" value="sensitive_directories ">
            <label class="form-check-label" for="exampleRadios8">
                                        sensitive_directories 
                                    </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="github" id="exampleRadios9" value="vulnerable_files ">
            <label class="form-check-label" for="exampleRadios9">
                                            vulnerable_files
                                        </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="github" id="exampleRadios10" value="files_containing_passwords  ">
            <label class="form-check-label" for="exampleRadios10">
                                                files_containing_passwords
                                            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="github" id="exampleRadios11" value="sensitive_online_shopping_info ">
            <label class="form-check-label" for="exampleRadios11">
                                                    sensitive_online_shopping_info 
                                                </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="github" id="exampleRadios12" value="network_or_vulnerability_data   ">
            <label class="form-check-label" for="exampleRadios12">
                                                        network_or_vulnerability_data
                                                    </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="github" id="exampleRadios13" value="vulnerable_servers">
            <label class="form-check-label" for="exampleRadios13">
                                                            vulnerable_servers
                                                        </label>
        </div>
        <!-- End of Radio -->
    </fieldset>
</div>


<!--DIRECTORY LISTING MODULE-->

<div class="card card-body border-0 shadow mb-4">
    <fieldset>
        <legend class="h5">Choose a Wordlist </legend>
        <div class="center ">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Wordlist" id="1" value="small.txt">
                <label class="form-check-label" for="1">
                                                    small.txt
                                                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Wordlist" id="2" value="common.txt">
                <label class="form-check-label" for="2">
                                                    common.txt
                                                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Wordlist" id="3" value="big.txt">
                <label class="form-check-label" for="3">
                                                    big.txt
                                                </label>
            </div>
        </div>
        <label for="formFile" class="form-label">OR</label>

        <div class="mb-4">
            <br>
            <label for="formFile" class="form-label">Upload your own Wordlist</label>
            <input class="form-control" type="file" id="formFile">
        </div>
    </fieldset>
</div>

<!--PROXY LIST CONFIGURATION-->

<div class="card card-body border-10 shadow mb-2">
    <h2 class="h5 mb-4">Proxy list Configuration</h2>
    <label class="my-1 me-2" for="proxy_type">Select proxy type </label>
    <select class="form-select mb-4" id="proxy_type" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">HTTP</option>
                    <option value="2">HTTPS</option>
                    <option value="3">SOCKS4</option>
                    <option value="3">SOCKS5</option>
                </select>
    <label class="my-1 me-2" for="proxy_number">Select proxies number</label>
    <select class="form-select mb-4" id="proxy_number" aria-label="Default select example">
                <option selected>Choose a number</option>
                <option value="1">One-1</option>
                <option value="2">Two-2</option>
                <option value="3">Three-3</option>
                <option value="4">Four-4</option>
                <option value="5">Five-5</option>
                <option value="6">Six-6</option>
                <option value="7">Seven-7</option>
                <option value="8">Eight-8</option>
                <option value="9">Nine-9</option>
                <option value="10">Ten-10</option>
                <option value="11">Eleven-11</option>
                <option value="12">Twelve-12</option>
                <option value="13">thirteen-13</option>
                <option value="14">Fourteen-14</option>
                <option value="15">fifteen-15</option>
                <option value="16">Sixteen-16</option>
                <option value="17">Seventeen-17</option>
                <option value="18">Eighteen-18</option>
                <option value="19">Nineteen-19</option>
                <option value="20">Twenty-20</option>

            </select>

    <fieldset>
        <legend class="h6 ">Select the level of tansparency</legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="level" id="transparent" value="transparent" checked>
            <label class="form-check-label" for="transparent">
                        transparent
                    </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="level" id="anonymous" value="anonymous">
            <label class="form-check-label" for="anonymous">
                        anonymous
                    </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="level" id="high" value="high">
            <label class="form-check-label" for="high">
                         high
                        </label>
        </div>
        <!-- End of Radio -->
    </fieldset>

</div>

<!--START SCAN BUTTON-->


<div class="card card-body border-10 shadow mb-2">

    <button class="btn w-100 btn-secondary text-dark" type="submit" name="start_scan">Start scan </button> {% endblock content %}

</div>

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
</form>
</div>